<!--<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  ~1~ This key is for Application Insights resource 'SchedulerWebApp' in resource group 'Default-ApplicationInsights-CentralUS' @1@
  <InstrumentationKey>6546506f-3dd7-49b9-ad21-090673f81518</InstrumentationKey>
</ApplicationInsights>-->