@{
    ViewBag.Title = "Reset password confirmation";
}


@Html.Partial("_GlobalPageHeader", ViewData["heading"] = "Confirmation")

<section id="contact-section">
    <div class="container">
        <div class="row center-div">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-heading"></div>

                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s">@ViewBag.Title</h2>
                        <p class="wow fadeInUp animated" data-wow-delay=".9s">Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", null, new { id = "loginLink" })</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>