@{
    ViewBag.Title = "FrequentlyAskedQuestions";
}

<h2>FAQ</h2>
<br />

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How do I create event?
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                To create an event. Click on <strong>New event</strong> form the navigation bar. Fill out required fields, the click <strong>Create</strong> to create an event.
            </div>
        </div>
    </div>
      
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How do I invite participant(s)?
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        <strong>After Creating Event</strong> <br />
                        Enter participant email(s) then click <strong>Invite</strong> to send invitation.
                    </li>
                    <li>
                        <br />
                        <strong>From Event&#39;s Details</strong> <br />
                        Go to <strong>My Events</strong> &ndash;&gt; <strong>Details</strong> &ndash;&gt; <strong>Invite</strong>. Then enter participant email(s) and click <strong> Invite</strong> to send  the invitation.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do I edit event?
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Go to <strong>My Events</strong> &ndash;&gt; <strong>Details</strong> &ndash;&gt; <strong>Edit</strong>. Edit the event and click <strong>Save</strong> to save changes. 
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How do I detele Event?
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                Go to <strong>My Events</strong> &ndash;&gt; <strong>Details</strong> &ndash;&gt; <strong>Delete</strong>&ndash;&gt; <strong>Confirm Delete</strong><span class="text-danger"> <br /><strong>NOTE: event will be deleted with all its participants</strong>.</span>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    How do I respond to Event?
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                From invitation email. Click the <strong>Confirm attendance</strong> button. Enter attandance status and then send.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    How do i change my response?
                </a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
                From invitation email. Click the <strong>Confirm attendance</strong> button. Enter attandance status and then send. Changes will be saved.
            </div>
        </div>
    </div>


</div>

