@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h2 class="text-center">Welcome to scheduleasy.com</h2>
        <hr />
    </div>
</div>

<div class="row">

    <div class="col-md-offset-1 col-md-10">
        <p>
            Scheduleasy is a service which makes it easier for a group of people to organize an event or to schedule a meeting.
            This saves time for both organiser and patricipant when organizing for a particuler event.
        </p>
        <p>
            The whole organizations is taken care, what you need to do is to register, create your event and make invitations.
            Invetees will be contacted for you, they wont have to register to confitm their attandance. before your event has take place
            you will get summary of those respondend and who is comming.
        </p>
        <p>Its free, Give it a try...</p>
    </div>

</div>