@{
    ViewBag.Title = "Message Sent";
}

<div class="col-md-offset-2 col-md-8">
    <h2 class="text-center">Your message is sent</h2>
    <hr />

    <div class="alert alert-success" role="alert">
        <h1 class="text-center"><i title="Okay" class="fa fa-check-circle-o fa-2x element-green"></i></h1>
        <p class="text-center">
            We have recieved your message, you will hear from us soon. <br />Thank you.
        </p>
        <br />

        <div class="row">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-primary  col-sm-4 col-sm-offset-4" })
        </div>
    </div>
</div>