@model IEnumerable<SchedulerWebApp.Models.Event>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .eventPageIcons {
        font-size: 1.5em;
    }

    p {
        font-size: 16px;
    }
</style>


<ul class="nav nav-tabs nav-justified" id="myTab">
    <li role="presentation" class="active"><a href="#upcomingEvent">Upcoming Events</a></li>
    <li role="presentation"><a href="#passedEvent">Previous Events</a></li>
    <li role="presentation"><a href="#allEvents">All Events</a></li>
</ul>

<div class="tab-content">

    <div id="upcomingEvent" class="tab-pane fade in active">
        <div class="row">
            @Html.Action("UpcomingEvents", "Events")
        </div>
    </div>

    <div id="passedEvent" class="tab-pane fade">
        <div class="row">
            @Html.Action("PreviousEvents", "Events")
        </div>
    </div>

    <div id="allEvents" class="tab-pane fade">
        <div class="row">
            @Html.Action("AllEvents", "Events")
        </div>
    </div>

</div>


@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#myTab a").click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });

        $("[data-toggle=tooltip]").tooltip();

        (function () {

            trimOnSmallScreens();

            function trimText(elementSelector, maxCharacter) {
                $(elementSelector).each(function () {
                    var header = $.trim($(this).text());

                    if (header.length > maxCharacter) {
                        $(this).text(header.substr(0, maxCharacter) + "...");
                    }
                });
            }

            $(window).resize(function () {
                trimOnSmallScreens();
            });

            function trimOnSmallScreens() {
                var width = $(window).width();
                if (width < 768) {
                    trimText(".p-header", 10);
                    trimText(".trim-text", 8);
                } else {
                    trimText(".p-header", 15);
                }
            }
        })();

    </script>
}