@model IEnumerable<SchedulerWebApp.Models.Event>

@{
    ViewBag.Title = "Index";
}


<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#upcomingEvent">Upcoming Events</a></li>
    <li><a href="#passedEvent">Previous Events</a></li>
    <li><a href="#allEvents">All Events</a></li>
</ul>

<div class="tab-content">

    <div id="upcomingEvent" class="tab-pane fade in active">
        <div class="row">
            @Html.Action("UpcomingEvents", "Events")
        </div>
    </div>

    <div id="passedEvent" class="tab-pane fade">
        <div class="row">
            @Html.Action("PreviousEvents", "Events")
        </div>
    </div>

    <div id="allEvents" class="tab-pane fade">
        <div class="row">
            @Html.Action("AllEvents", "Events")
        </div>
    </div>

</div>



<!--This is a test-->
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active" id="home">This a home tab</div>
        <div role="tabpanel" class="tab-pane fade" id="profile">this a profile tab</div>
        <div role="tabpanel" class="tab-pane fade" id="messages">This is a message tab</div>
        <div role="tabpanel" class="tab-pane fade" id="settings">this is Settings tab</div>
    </div>
</div>


@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myTab a").click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
}