@model SchedulerWebApp.Models.Event
@{
    ViewBag.Title = "_CantRespond";
}
<div class="col-md-offset-2 col-md-8">
    <h2 class="text-center">Its late..</h2>
    <hr />

    <div class="alert alert-danger" role="alert">
        <p>
            You can't invite participant to this event anymore. It already took place on <b>@Model.StartDate.GetValueOrDefault().ToString("g")</b>.
            To see more details click the button below.
        </p>
    </div>
    @Html.ActionLink("Event Details", "Details", "Events", new { id = Model.Id }, new { @class = "btn btn-info btn-block" })
</div>