
<section class="global-page-header wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".2s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>@ViewData["heading"]</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="@Url.Action("Index","Home")">
                                <i class="ion-ios-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="active">@ViewData["heading"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
