@model SchedulerWebApp.Models.Event
@{
    ViewBag.Title = "_CantRespond";
}

<h2 class="text-center">Event has passed</h2>
<hr />

<div class="alert alert-danger" role="alert">
    <p>
        You can no longer manage this event as it has already taken place on @Model.EndDate.Day/@Model.EndDate.Month/@Model.EndDate.Year <br />
        See click the button below for more event details
    </p>
    <br />
    @Html.ActionLink("Event Details", "Details", "Events", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>