@model SchedulerWebApp.Models.Event
@{
    ViewBag.Title = "No events";
}
<hr />
<div class="col-md-offset-2 col-md-8">
    <h2 class="text-center">Oops!!!</h2>
    <div class="alert alert-danger text-center" role="alert">
        <p>
            You are not the organiser of this event. Only organiser can manage events.
        </p>
    </div>
    @Html.ActionLink("Back to events", "Index", "Events", null, new { @class = "btn btn-info btn-block " })
</div>