<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="alert alert-info text-center" role="alert">
            <p>There is no event here....</p>
        </div>
    </div>
</div>
