<h2 class="subtitle wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">Invitees</h2>

<div class="alert alert-info text-center no-Participant-alert" role="alert">
    <h2>
        No participant invited yet!
    </h2>
</div>