@model IEnumerable<SchedulerWebApp.Models.Participant>

<h2 class="subtitle wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">Invitees</h2>

<table id="participantTable" class="table table-condensed detailsTable display nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Email</th>
            <th>Status</th>
            <th>Response</th>
            <th>Comments</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td class="participantRow">
                @Html.DisplayFor(modelItem => item.Email)
                <span class="hidden colorSpan">@(item.Availability ? "Attending" : "Absent") @(item.Responce ? "Responded" : "No Response")</span>
            </td>


            @if (item.Availability)
            {
                <td data-order="a" class="availabilityRow text-center">
                    <i data-toggle="tooltip" data-placement="top" title="attending" class="fa fa-calendar-check-o" aria-hidden="true"></i>
                </td>
            }
            else
            {
                <td data-order="b" class="availabilityRow text-center">
                    <i data-toggle="tooltip" data-placement="top" title="Not attending" class="fa fa-calendar-times-o" aria-hidden="true"></i>
                </td>

            }


            @if (item.Responce)
            {
                <td data-order="a" class="text-center">
                    <i data-toggle="tooltip" data-placement="top" title="responded" class="fa fa-check-square-o" aria-hidden="true"></i>
                </td>
            }
            else
            {
                <td data-order="b" class="text-center">
                    <i data-toggle="tooltip" data-placement="top" title="no feedback" class="fa fa-clock-o" aria-hidden="true"></i>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>

        </tr>
    }
</table>