

<div id="cookie-div" style="display: none">
    <div class="alert alert-success text-center">
        <i title="Sent" class="fa fa-check-circle-o fa-2x element-green"></i>
        <br />
        <p id="alertMessage"> Email(s) are sent.</p>
    </div>
</div>
