/* textarea.input-validation-error {
      border-color: #CC0000;
 }*/

/*html, body, .container {
    height: 100%;
}*/

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

.margin-top {
    margin-top: 10px;
}

/*.title-label {
    font-weight: bold;
    text-align: right;
}*/

.title-left {
    font-weight: bold;
    text-align: left;
}

/*.button-width {
    width: 85px;
}*/

textarea {
    -moz-resize: vertical;
    -ms-resize: vertical;
    -o-resize: vertical;
    resize: vertical;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1.5em;
}

.body-div {
    box-shadow: 0 0 20px 3px #d3d3d3;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 100%;
    min-height: 100%;
}

.body-firstRow {
    padding: 40px 80px 40px 80px;
}

/*reduce padding and put the text to the center
    on small screen */
@media (max-width: 480px) {
    .body-firstRow {
        padding: 40px 20px 40px 20px;
    }

    .text-center-smallScreen {
        text-align: center;
    }
}

@media (max-width: 768px) {

    .addButtonMargin {
        margin-bottom: 15px;
    }
}

.event-div {
    margin-bottom: 30px;
}

.deleteEvent-div {
    margin-top: 25px;
}

.datepicker {
    z-index: 1151 !important;
}

/*Overide sorting icons style in DataTable*/
table.dataTable thead .sorting:after {
    opacity: 0;
    content: "";
    /* sort */
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead .sorting_asc:after {
    color: blue;
}

table.dataTable thead .sorting_desc:after {
    color: blue;
}

body {
    font-family: 'Oxygen', sans-serif;
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements 
   since they're 100% wide by default 
*/
/*
input, select, textarea {
    max-width: 350px;
}
*/

.element-red {
    color: red;
}

.element-gray {
    color: gray;
}

.element-green {
    color: green;
}

.element-lightBlue {
    color: #337ab7;
}

a + a {
    margin-left: 15px;
}

.red-badge {
    background: red;
}

.green-badge {
    background: green;
}

.event-thumbnail {
    background: #F0F0F0;
    -webkit-box-shadow: 3px 3px 3px 3px;
    -ms-box-shadow: 3px 3px 3px 3px;
    box-shadow: 3px 3px 3px 3px;
    color: darkgrey;
}

    .event-thumbnail:hover {
        background: #D8D8D8;
        -webkit-box-shadow: 3px 3px 3px 3px;
        -ms-box-shadow: 3px 3px 3px 3px;
        box-shadow: 3px 3px 3px 3px;
        color: lightsteelblue;
    }

        .event-thumbnail:hover div p {
            font-weight: bold;
            color: white;
        }

tr:contains("Absent") {
    color: lightsteelblue;
}

.heading-paragraph {
    color: gray;
    font-size: 30px;
}

.anchor-div {
    color: inherit;
    text-decoration: inherit;
}

    .anchor-div:link {
        color: inherit;
        text-decoration: inherit;
    }

    .anchor-div:hover {
        color: inherit;
        text-decoration: inherit;
    }

/*Modal styles*/
.modal {
    text-align: center;
}

@media screen and (min-width : 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/*-----------------------------------------*/

/*#region Change Dropdown menu to look as its menu */

.navbar-nav > li > .dropdown-menu > li > a {
    color: #F5F1F1;
}

.navbar-nav > li > .dropdown-menu > li > a:hover {
    background-color: #292828;
    color: whitesmoke;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #080808;
}


/*#endregion */
